.style{
    text-decoration: none;
    color: black;
}

.style:hover{
    background-color: black;
    color: red;
    transition: .3s;
}

.logo{
    display: flex;
    padding: 25px;
    border-right: 1px solid black;
}